@import "./styles/theme.css";
@import "./styles/tokens.css";
@import "./styles/common.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  font-family: "Arial", sans-serif;
  background: var(--bg);
  color: var(--text);
  display: grid;
  max-height: 100vh;
  min-height: 100vh;
  overflow: hidden;
}